{layout '../@error-layout.latte'}

{block content}
<h1 n:block=title>Access Denied</h1>

<p>You do not have permission to view this page. Please try contact the web
site administrator if you believe you should be able to view this page.</p>

<p><small>error 403</small></p>
