{layout '../@error-layout.latte'}

{block content}
<h1 n:block=title>Page Not Found</h1>

<p>The page you requested has been taken off the site. We apologize for the inconvenience.</p>

<p><small>error 410</small></p>
