{block title}
    <h1>Přehled mailingu</h1>
{/block}

{block breadcrumb}
    <ol class="breadcrumb">
        <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
        <li class="active"><a n:href="Group:">E-mailové šablony</a></li>
    </ol>
{/block}

{block content}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h2 class="box-title">Výpis e-mailových šablon</h2>
                </div>
                <div class="box-body">
                    {control mailTemplatesDataGrid}
                </div>
            </div>

            {snippet addEditTemplateModal}
                <div class="modal fade" id="add-edit-template-modal" role="dialog" aria-labelledby="add-edit-template-modalLabel">
                    <div class="modal-lg modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="add-edit-template-modalLabel">{isset($showAddTemplateModal) ? 'Přidat šablonu' : 'Editovat šablonu'}</h4>
                            </div>

                            {control addEditMailTemplateForm}
                        </div>
                    </div>
                </div>

                <script n:if="isset($showAddTemplateModal) || isset($showEditTemplateModal)" type="text/javascript">
                    $('#add-edit-template-modal').modal('show');
                </script>
            {/snippet}

            {snippet copyTemplatesModal}
                <div class="modal fade" id="copy-templates-modal" role="dialog" aria-labelledby="copy-templates-modalLabel">
                    <div class="modal-lg modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="copy-templates-modalLabel">Kopírova šablony</h4>
                            </div>

                            {control copyMailTemplatesForm}
                        </div>
                    </div>
                </div>

                <script n:ifset="$copyTemplatesModal" type="text/javascript">
                    $('#copy-templates-modal').modal('show');
                </script>
            {/snippet}
        </div>
    </div>
{/block}
