<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{ifset title}{include title|striptags} | {/ifset}Diplomky FIT</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/fontawesome/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/dist/css/skins/_all-skins.min.css">
    <!-- Ublaboo Datagrid - Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/happy/dist/happy.css">
    <link rel="stylesheet" href="{$basePath}/bower-plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid.css">
    <!-- Ublaboo Datagrid - Use this css for ajax spinners -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
    <!-- Include this css when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower-plugins/bootstrap-select/dist/css/bootstrap-select.css">
    <!-- Main -->
    <link rel="stylesheet" href="{$basePath}/css/base.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery 2.1.4 -->
    <script src="{$basePath}/bower-plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{$basePath}/bower-plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nette forms & Nette live form validation -->
    <script src="{$basePath}/bower-plugins/nette-live-form-validation/live-form-validation.js"></script>
    <!-- Nette ajax -->
    <script src="{$basePath}/bower-plugins/nette.ajax.js/nette.ajax.js"></script>
    <!-- Moment -->
    <script src="{$basePath}/bower-plugins/moment/min/moment.min.js"></script>
    <script src="{$basePath}/bower-plugins/moment/locale/cs.js"></script>
    <!-- AdminLTE App -->
    <script src="{$basePath}/bower-plugins/admin-lte/dist/js/app.min.js"></script>
    <!-- Ublaboo Datagrid - Use this tiny js for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <script src="{$basePath}/bower-plugins/happy/dist/happy.js"></script>
    <script src="{$basePath}/bower-plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="{$basePath}/bower-plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js"></script>
    <script src="{$basePath}/bower-plugins/jquery-ui-sortable/jquery-ui-sortable.js"></script>
    <script src="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid.js"></script>
    <script src="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>
    <!-- Ublaboo Datagrid - Use this little extension for ajax spinners -->
    <script src="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>
    <!-- Include bootstrap-select.js when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
    <script src="{$basePath}/bower-plugins/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <!-- Main -->
    <script type="text/javascript">
        $(function() {
            $.nette.init();
        });
    </script>
    {if $productionMode}
        <script type="text/javascript">
            window.smartlook||(function(d) {
                var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
                var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
                c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
            })(document);
            smartlook('init', '447b85c18d0562f1941c42b1c080ede64b370325');
        </script>
    {/if}
    {block head}{/block}
</head>
<body class="hold-transition skin-blue layout-top-nav">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a n:href="Homepage:" class="navbar-brand"><b>Diplomky FIT</b></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section n:ifcontent class="content-header">
                {block title}{/block}
                {block breadcrumb}{/block}
            </section>

            <!-- Main content -->
            <section class="content">

                {snippet flashMessages}
                    <div n:foreach="$flashes as $flash" class="callout callout-{$flash->type}">
                        {$flash->message}
                    </div>
                {/snippet}

                {include content}

            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="container">
            <strong>Copyright &copy; {date('Y')} <a href="http://www.dspilka.cz" target="_blank">David Spilka</a>.</strong> All rights
            reserved.
        </div>
        <!-- /.container -->
    </footer>
</div>
<!-- ./wrapper -->
</body>
</html>