<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{ifset title}{include title|striptags} | {/ifset}Diplomky FIT</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/fontawesome/css/font-awesome.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/plugins/iCheck/square/blue.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/plugins/select2/select2.min.css">
    <!-- Bootstrap Slider -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/plugins/bootstrap-slider/slider.css">
    <!-- Bootstrap TimePicker -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Bootstrap datetimepicker -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <!-- FullCalendar -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/fullcalendar/dist/fullcalendar.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/admin-lte/dist/css/skins/_all-skins.min.css">
    <!-- Ublaboo Datagrid - Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/happy/dist/happy.css">
    <link rel="stylesheet" href="{$basePath}/bower-plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid.css">
    <!-- Ublaboo Datagrid - Use this css for ajax spinners -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
    <!-- Include this css when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower-plugins/bootstrap-select/dist/css/bootstrap-select.css">
    <!-- Slick -->
    <link rel="stylesheet" href="{$basePath}/bower-plugins/slick-carousel/slick/slick.css">
    <!-- Main -->
    <link rel="stylesheet" href="{$basePath}/css/base.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery 2.1.4 -->
    <script src="{$basePath}/bower-plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{$basePath}/bower-plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nette forms & Nette live form validation -->
    <script src="{$basePath}/bower-plugins/nette-live-form-validation/live-form-validation.js"></script>
    <!-- Nette ajax -->
    <script src="{$basePath}/bower-plugins/nette.ajax.js/nette.ajax.js"></script>
    <!-- iCheck -->
    <script src="{$basePath}/bower-plugins/admin-lte/plugins/iCheck/icheck.min.js"></script>
    <!-- Select2 -->
    <script src="{$basePath}/bower-plugins/admin-lte/plugins/select2/select2.min.js"></script>
    <!-- Moment -->
    <script src="{$basePath}/bower-plugins/moment/min/moment.min.js"></script>
    <script src="{$basePath}/bower-plugins/moment/locale/cs.js"></script>
    <!-- Bootstrap Slider -->
    <script src="{$basePath}/bower-plugins/admin-lte/plugins/bootstrap-slider/bootstrap-slider.js"></script>
    <!-- Bootstrap TimePicker -->
    <script src="{$basePath}/bower-plugins/admin-lte/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Bootstrap datetimepicker -->
    <script src="{$basePath}/bower-plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- CKEditor -->
    <script src="{$basePath}/bower-plugins/ckeditor/ckeditor.js"></script>
    <script src="{$basePath}/bower-plugins/ckeditor/adapters/jquery.js"></script>
    <!-- InputMask -->
    <script src="{$basePath}/bower-plugins/admin-lte/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="{$basePath}/bower-plugins/admin-lte/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <!-- AdminLTE App -->
    <script src="{$basePath}/bower-plugins/admin-lte/dist/js/app.min.js"></script>
    <!-- Ublaboo Datagrid - Use this tiny js for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <script src="{$basePath}/bower-plugins/happy/dist/happy.js"></script>
    <script src="{$basePath}/bower-plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="{$basePath}/bower-plugins/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js"></script>
    <script src="{$basePath}/bower-plugins/jquery-ui-sortable/jquery-ui-sortable.js"></script>
    <script src="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid.js"></script>
    <script src="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>
    <!-- Ublaboo Datagrid - Use this little extension for ajax spinners -->
    <script src="{$basePath}/bower-plugins/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>
    <!-- Include bootstrap-select.js when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
    <script src="{$basePath}/bower-plugins/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <!-- Slick -->
    <script src="{$basePath}/bower-plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- jQuery DotDotDot -->
    <script src="{$basePath}/bower-plugins/jQuery.dotdotdot/src/jquery.dotdotdot.min.js"></script>
    <!-- Main -->
    <script src="{$basePath}/js/base.js"></script>
    {if $productionMode}
        <script type="text/javascript">
            window.smartlook||(function(d) {
                var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
                var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
                c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
            })(document);
            smartlook('init', '447b85c18d0562f1941c42b1c080ede64b370325');
        </script>
    {/if}
    {block head}{/block}
</head>
<body n:class="hold-transition, skin-blue, sidebar-mini, $templateSession['collapsedSidebar'] ? sidebar-collapse">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a n:href="Homepage:" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>D</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Diplomky FIT</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" data-href="{link collapsedSidebarChanged!}" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#report-problem-modal" data-toggle="modal">
                            <i class="fa fa-bug"></i> Nahlásit problém
                        </a>
                    </li>
                    <li n:if="count($groups) > 0" class="dropdown">
                        {capture $groupMenu}
                        <li n:foreach="$groups as $group">
                            <a n:href="groupChanged!, id => $group->getId()">{$group->getName()}</a>
                            {if $user->identity->data['group'] == $group->getId()}
                                {var $selectedGroup = $group->getName()}
                            {/if}
                        </li>
                        {/capture}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-refresh"></i>
                            {$selectedGroup}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {$groupMenu|noescape}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span class="hidden-xs">{$user->getIdentity()->name}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a n:href="User:profile"><i class="fa fa-user"></i> Profil</a>
                            </li>
                            <li>
                                <a n:href="Mailing:templates"><i class="fa fa-envelope"></i> E-mailové šablony</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a n:href="Sign:out"><i class="fa fa-power-off"></i> Odhlásit</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="modal fade" id="report-problem-modal" tabindex="-1" role="dialog" aria-labelledby="report-problem-modalLabel">
        <div class="modal-lg modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="report-problem-modalLabel">Nahlásit problém</h4>
                </div>

                {control reportProblemForm}
            </div>
        </div>
    </div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                {if $user->isInRole('student')}
                    <li n:class="$presenter->isLinkCurrent('Homepage:*') ? active">
                        <a n:href="Homepage:">
                            <i class="fa fa-dashboard"></i> <span>Nástěnka</span>
                        </a>
                    </li>
                    <li n:if="$user->isAllowed('Consultation', 'default')" n:class="$presenter->isLinkCurrent('Consultation:default') || $presenter->isLinkCurrent('Consultation:settings') ? active, treeview">
                        <a n:href="Consultation:"><i class="fa fa-handshake-o"></i> <span>Konzultace</span></a>
                    </li>
                    <li class="header">MOJE PROJEKTY</li>
                    <li n:foreach="$myProjects as $myProject" n:class="$presenter->isLinkCurrent('Project:detail', ['id' => $myProject->getId()]) ||
                            $presenter->isLinkCurrent('Report:*', ['projectId' => $myProject->getId()]) ||
                            $presenter->isLinkCurrent('Milestone:*', ['projectId' => $myProject->getId()]) ? active, treeview, project-submenu">
                        <a href="#"><i class="fa fa-table"></i> <span>{$myProject->getName()}</span></a>
                        <ul class="treeview-menu menu-open" style="display: block">
                            <li><a n:href="Project:detail, 'id' => $myProject->getId()"><i class="fa fa-list"></i> <span>Detail projektu</span></a></li>
                            <li><a n:href="Report:add, 'projectId' => $myProject->getId()"><i class="fa fa-plus"></i> <span>Přidat report</span></a></li>
                            <li><a n:href="Milestone:add, 'projectId' => $myProject->getId()"><i class="fa fa-plus"></i> <span>Přidat milník</span></a></li>
                            <li><a n:href="Document:add, 'projectId' => $myProject->getId()"><i class="fa fa-plus"></i> <span>Přidat dokument</span></a></li>
                        </ul>
                    </li>
                {else}
                    <li n:if="$user->isAllowed('Consultation')" n:class="$presenter->isLinkCurrent('Consultation:default') || $presenter->isLinkCurrent('Consultation:addBlocks') ? active, treeview">
                        <a n:href="Consultation:"><i class="fa fa-handshake-o"></i> <span>Konzultace</span></a>
                        <ul n:if="$presenter->isLinkCurrent('Consultation:default') || $presenter->isLinkCurrent('Consultation:addBlocks')" class="treeview-menu">
                            <li><a n:href="Consultation:"><i class="fa fa-list"></i> <span>Výpis konzultací</span></a></li>
                            <li><a n:href="Consultation:addBlocks"><i class="fa fa-plus"></i> <span>Přidat konzultační bloky</span></a></li>
                        </ul>
                    </li>
                    <li n:if="$user->isAllowed('Group')" n:class="$presenter->isLinkCurrent('Group:*') ? active, treeview">
                        <a n:href="Group:"><i class="fa fa-table"></i> <span>Skupiny projektů</span></a>
                        <ul class="treeview-menu">
                            <li><a n:href="Group:"><i class="fa fa-list"></i> <span>Výpis skupin</span></a></li>
                            <li><a n:href="Group:add"><i class="fa fa-plus"></i> <span>Přidat skupinu</span></a></li>
                        </ul>
                    </li>
                    <li n:if="$user->isAllowed('User')" n:class="$presenter->isLinkCurrent('User:*') && !$presenter->isLinkCurrent('User:profile') ? active, treeview">
                        <a n:href="User:"><i class="fa fa-users"></i> <span>Uživatelé</span></a>
                        <ul class="treeview-menu">
                            <li><a n:href="User:"><i class="fa fa-list"></i> <span>Výpis uživatelů</span></a></li>
                            <li><a n:href="User:add"><i class="fa fa-plus"></i> <span>Přidat uživatele</span></a></li>
                        </ul>
                    </li>
                    <li class="header">AKTUÁLNÍ SKUPINA</li>
                    <li n:class="$presenter->isLinkCurrent('Homepage:*') ? active">
                        <a n:href="Homepage:">
                            <i class="fa fa-dashboard"></i> <span>Nástěnka</span>
                        </a>
                    </li>
                    <li n:if="$user->isAllowed('Project')" n:class="$presenter->isLinkCurrent('Project:*') ? active, treeview">
                        <a n:href="Project:"><i class="fa fa-tasks"></i> <span>Projekty</span></a>
                        <ul class="treeview-menu">
                            <li><a n:href="Project:"><i class="fa fa-list"></i> <span>Výpis projektů</span></a></li>
                            <li><a n:href="Project:add"><i class="fa fa-plus"></i> <span>Přidat projekt</span></a></li>
                            <li><a n:href="Project:import"><i class="fa fa-share-square-o"></i> <span>Importovat projekty</span></a></li>
                        </ul>
                    </li>
                    <li n:if="$user->isAllowed('Term')" n:class="$presenter->isLinkCurrent('Term:*') ? active, treeview">
                        <a n:href="Term:"><i class="fa fa-calendar"></i> <span>Termíny</span></a>
                        <ul class="treeview-menu">
                            <li><a n:href="Term:"><i class="fa fa-list"></i> <span>Výpis termínů</span></a></li>
                            <li><a n:href="Term:add"><i class="fa fa-plus"></i> <span>Přidat termín</span></a></li>
                            <li><a n:href="Term:copy"><i class="fa fa-copy"></i> <span>Kopírovat termíny</span></a></li>
                        </ul>
                    </li>
                    <li n:if="$user->isAllowed('Tag')" n:class="$presenter->isLinkCurrent('Tag:*') ? active, treeview">
                        <a n:href="Tag:"><i class="fa fa-tag"></i> <span>Štítky</span></a>
                        <ul class="treeview-menu">
                            <li><a n:href="Tag:"><i class="fa fa-list"></i> <span>Výpis štítků</span></a></li>
                            <li><a n:href="Tag:add"><i class="fa fa-plus"></i> <span>Přidat štítek</span></a></li>
                        </ul>
                    </li>
                {/if}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section n:ifcontent class="content-header">
            {block title}{/block}
            {block breadcrumb}{/block}
        </section>

        <!-- Main content -->
        <section class="content">

            {snippet flashMessages}
                <div n:foreach="$flashes as $flash" class="callout callout-{$flash->type}">
                    {$flash->message}
                </div>
            {/snippet}

            {include content}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <strong>Copyright &copy; {date('Y')} <a href="http://www.dspilka.cz" target="_blank">David Spilka</a>.</strong> All rights
        reserved.
    </footer>
</div>
<!-- ./wrapper -->
</body>
</html>