{block title}
    <h1>Nástěnka</h1>
{/block}

{block breadcrumb}
    <ol class="breadcrumb">
        <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Nástěnka</a></li>
    </ol>
{/block}

{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn-group">
                                <a id="slick-fast-prev" class="btn btn-default" href="#"><i class="fa fa-angle-double-left"></i></a>
                                <a id="slick-prev" class="btn btn-default" href="#"><i class="fa fa-angle-left"></i></a>
                                <a id="slick-next" class="btn btn-default" href="#"><i class="fa fa-angle-right"></i></a>
                                <a id="slick-fast-next" class="btn btn-default" href="#"><i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tag-filter" class="box-body text-center">
                    <strong><i class="fa fa-tag"></i> Filtrování:&nbsp;&nbsp;&nbsp;</strong>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default btn-sm active">
                            <input type="checkbox" class="all" autocomplete="off" value="all" checked> Vše
                        </label>
                        <label n:foreach="$tags as $tag" class="btn btn-default btn-sm">
                            <input type="checkbox" autocomplete="off" value="{$tag->getId()}"> {$tag->getName()}
                        </label>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row projects">
                        <form id="projects-form" method="post">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8 list">
                                <table class="table table-bordered">
                                    <tr class="terms">
                                        <th>
                                            Termíny
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <input type="text" name="search" class="form-control" title="Hledat">
                                        </th>
                                    </tr>
                                    <tr n:foreach="$projects as $project" class="project-row" data-name="{$project->getName()}" data-student="{$project->getStudent()->getName()}" data-tags="{foreach $project->getTags() as $tag}{$tag->getId()},{/foreach}">
                                        <td n:class="$project->getNotActive() ? not-active">
                                            <div class="checkbox project-student">
                                                <label>
                                                    <input name="emails[]" value="{$project->getStudent()->getName()} &lt;{$project->getStudent()->getEmail()}&gt;" data-name="{$project->getStudent()->getName()}" type="checkbox" n:attr="checked => !$project->getNotActive()">
                                                    <a n:href="Project:detail, 'id' => $project->getId()">
                                                        <span data-toggle="tooltip" data-placement="top" title="{$project->getStudent()->getName()}">
                                                            {$project->getStudent()->getName()}
                                                        </span>
                                                    </a>
                                                </label>
                                            </div>
                                            <div class="project-name">
                                                <span data-toggle="tooltip" data-placement="top" title="{$project->getName()}">
                                                    {$project->getName()}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="projects-slick" class="col-lg-10 col-md-9 col-sm-8 col-xs-4 reports">
                                <div n:foreach="$weeks as $monday => $week" class="report-item">
                                    <table class="table table-bordered text-center">
                                        <tr class="terms">
                                            <th>
                                                {if isset($terms[$monday]) && count($terms[$monday]) > 0}
                                                    <a href="#terms-{$monday}-modal" data-toggle="modal">
                                                        <i class="fa fa-bell"></i>
                                                    </a>
                                                {/if}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th n:class="$monday == $currentMonday ? actual">
                                                {$week}
                                            </th>
                                        </tr>
                                        <tr n:foreach="$projects as $project" class="project-row" data-name="{$project->getName()}" data-student="{$project->getStudent()->getName()}" data-tags="{foreach $project->getTags() as $tag}{$tag->getId()},{/foreach}">
                                            <td n:class="isset($consultations[$project->getId()][$monday]) ? has-consultation, $monday == $currentMonday ? actual, $project->getNotActive() ? not-active">
                                                {if isset($reports[$project->getId()][$monday])}
                                                    <a n:href="Project:detail#report-{$reports[$project->getId()][$monday]->getId()}, id => $project->getId()" title="Zobrazit report">
                                                        <img src="{$basePath}/images/smiley_{$reports[$project->getId()][$monday]->getSmiley()}.png" class="smiley"/>
                                                        <p class="progress">{$reports[$project->getId()][$monday]->getProgress()}%</p>
                                                    </a>
                                                {elseif $user->isInRole('student') && $user->getId() == $project->getStudent()->getId()}
                                                    <a n:href="Report:add, projectId => $project->getId(), date => $monday" title="Přidat report"></a>
                                                {/if}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <a href="#" id="uncheck-students">
                                    Zrušit označení všech studentů
                                </a>
                                <a href="#" id="check-students" class="hidden">
                                    Označit všechny studenty
                                </a>
                            </p>
                            <p>
                                <a href="#send-message-modal" data-receivers="selected" data-toggle="modal">
                                    Poslat zprávu vybraným
                                </a>
                                |
                                <a href="#send-message-modal" data-receivers="all" data-toggle="modal">
                                    Poslat zprávu všem
                                </a>
                                |
                                <a n:href="Mailing:">
                                    Přehled mailingu
                                </a>
                            </p>

                            <div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" aria-labelledby="send-message-modalLabel">
                                <div class="modal-lg modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="send-message-modalLabel">Zaslat zprávu</h4>
                                        </div>

                                        {control sendMessageForm}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {foreach $weeks as $monday => $week}
                        <div n:if=" isset($terms[$monday]) && count($terms[$monday]) > 0" class="modal fade" id="terms-{$monday}-modal" tabindex="-1" role="dialog" aria-labelledby="terms-{$monday}-modalLabel">
                            <div class="modal-lg modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="terms-{$monday}-modalLabel">Termíny {$week}</h4>
                                    </div>
                                    <div class="modal-body">
                                        {foreach $terms[$monday] as $term}
                                            <h4>{$term->getName()}</h4>
                                            <strong>{$term->getDate()|date:'j.n.Y'}</strong><br>
                                            {$term->getDescription()|noescape}
                                        {/foreach}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
{/block}

{block head}
    <script type="text/javascript">
        function getInitialSlide(slide, count) {
            while (slide % count != 0) {
                slide--;
            }
            return slide;
        }

        $(document).ready(function () {
            var initialSlide = 0;
            $('.report-item').each(function (index, element) {
                if ($(element).find('th.actual').length) {
                    initialSlide = index;
                    return false;
                }
            });

            $('#slick-fast-prev, #slick-fast-next').click(function () {
                var slidesToShow = $('#projects-slick').slick('slickGetOption', 'slidesToShow');
                var slidesToScroll = $('#projects-slick').slick('slickGetOption', 'slidesToScroll');
                $('#projects-slick').slick('slickSetOption', 'slidesToScroll', slidesToShow);
                $('#projects-slick').slick($(this).attr('id') == 'slick-fast-prev' ? 'slickPrev' : 'slickNext');
                $('#projects-slick').slick('slickSetOption', 'slidesToScroll', slidesToScroll);
            });

            $('#projects-slick').slick({
                infinite: false,
                initialSlide: getInitialSlide(initialSlide, 11),
                speed: 300,
                slidesToShow: 11,
                slidesToScroll: 7,
                prevArrow: $('#slick-prev'),
                nextArrow: $('#slick-next'),
                responsive: [
                    {
                        breakpoint: 2560,
                        settings: {
                            initialSlide: getInitialSlide(initialSlide, 9),
                            slidesToShow: 9,
                            slidesToScroll: 5
                        }
                    },
                    {
                        breakpoint: 1920,
                        settings: {
                            initialSlide: getInitialSlide(initialSlide, 7),
                            slidesToShow: 7,
                            slidesToScroll: 4
                        }
                    },
                    {
                        breakpoint: 1024,
                        settings: {
                            initialSlide: getInitialSlide(initialSlide, 5),
                            slidesToShow: 5,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            initialSlide: getInitialSlide(initialSlide, 4),
                            slidesToShow: 4,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            initialSlide: getInitialSlide(initialSlide, 2),
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    }
                ]
            });

            $('.projects .list .project-student a, .projects .list .project-name').dotdotdot({
                wrap: 'letter',
                after: null,
                watch: true
            });

            $('#tag-filter input[type="checkbox"]').on('change', function () {
                var checkbox = $(this);
                var showAll = false;
                if (checkbox.val() == 'all' && checkbox.is(':checked')) {
                    $('#tag-filter input[type="checkbox"]').each(function () {
                        if (!$(this).hasClass('all')) {
                            $(this).prop('checked', false);
                            $(this).parent().removeClass('active');
                        }
                    });
                    showAll = true;
                } else {
                    $('#tag-filter input[type="checkbox"].all').prop('checked', false);
                    $('#tag-filter input[type="checkbox"].all').parent().removeClass('active');
                }

                var selectedTags = [];
                if (!showAll) {
                    $('#tag-filter input[type="checkbox"]').each(function () {
                        if (!$(this).hasClass('all') && $(this).is(':checked')) {
                            selectedTags.push($(this).val());
                        }
                    });

                    if (selectedTags.length == 0) {
                        showAll = true;
                        $('#tag-filter input[type="checkbox"].all').prop('checked');
                        $('#tag-filter input[type="checkbox"].all').parent().addClass('active');
                    }
                }

                $('.project-row').each(function () {
                    var splited = $(this).data('tags').split(',');
                    var intersect = $.map(selectedTags, function(a){ return $.inArray(a, splited) < 0 ? null : a; });
                    if (showAll || intersect.length > 0) {
                        $(this).removeClass('hidden');
                    } else {
                        $(this).addClass('hidden');
                    }
                });
            });

            $('input[name="search"]').on('input', function () {
                var value = $(this).val();
                $('.project-row').each(function () {
                    if (value.length == 0) {
                        $(this).removeClass('hidden');
                        return;
                    }

                    var name = $(this).data('name');
                    var student = $(this).data('student');
                    if (name.toLowerCase().indexOf(value.toLowerCase()) < 0 && student.toLowerCase().indexOf(value.toLowerCase()) < 0) {
                        $(this).addClass('hidden');
                    } else {
                        $(this).removeClass('hidden');
                    }
                });
            });

            $('#uncheck-students, #check-students').on('click', function (e) {
                e.preventDefault();

                var clicked = $(this);
                $('.project-student input[type=checkbox]').each(function () {
                    console.log($(this).parent('td'));
                    if (clicked.attr('id') == 'check-students' && $(this).parents('td').hasClass('not-active')) {
                        return true;
                    }
                    $(this).prop('checked', clicked.attr('id') == 'check-students');
                });

                $('#uncheck-students, #check-students').toggleClass('hidden');
            });

            $('#send-message-modal').on('show.bs.modal', function (e) {
                $('.project-student input[type=checkbox]').each(function () {
                    var checked = true;
                    if ($(e.relatedTarget).data('receivers') != 'all') {
                        checked = $(this).prop('checked');
                        if ($(this).closest('tr').hasClass('hidden')) {
                            checked = false;
                        }
                    } else if ($(this).parents('td').hasClass('not-active')) {
                        checked = false;
                    }
                    $('#send-message-modal form input[value="' + $(this).val() + '"]').prop('checked', checked);
                });
            });

            $('#projects-form').on('submit', function (e) {
                e.preventDefault();
            });
        });
    </script>
{/block}