{block title}
    <h1>Nástěnka</h1>
{/block}

{block breadcrumb}
    <ol class="breadcrumb">
        <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
    </ol>
{/block}

{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                {if $user->isInRole('student')}
                    Momentálně nejste přiřazen do žádné skupiny projektů. Systém vám nabídne všechny možnosti, až budete do nějaké přiřazen.
                {else}
                    Bez projektové skupiny nemůžete přidávat studenty a projekty. <a n:href="Group:add">Vytvořte si nějakou.</a>
                {/if}
            </div>
        </div>
    </div>
{/block}
