{layout '../../AbstractForm.latte'}

{block content}
    {if isset($newProjects) || isset($updateProjects)}
        {form step2Form}
            <div class="box-body">
                <h3>Nové projekty</h3>
                {if count($newProjects) > 0}
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            {foreach $form['projects']->containers as $id => $project}
                                {ifset $newProjects[$id]}
                                    <tr>
                                        <td>
                                            {input projects-$id-import}
                                        </td>
                                        <td>
                                            <strong>{$newProjects[$id]['student']}</strong> |
                                            {$newProjects[$id]['login']}@stud.fit.vutbr.cz<br>
                                            {$newProjects[$id]['title']}
                                            {ifset $newProjects[$id]['type']}({$newProjects[$id]['type']}){/ifset}
                                        </td>
                                    </tr>
                                {/ifset}
                            {/foreach}
                        </table>
                        <!-- /.table -->
                    </div>
                {else}
                    <p>
                        Žádné nové projekty k importu.
                    </p>
                {/if}

                <h3>Projekty k aktualizaci</h3>
                {if count($updateProjects) > 0}
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            {foreach $form['projects']->containers as $id => $project}
                                {ifset $updateProjects[$id]}
                                    <tr>
                                        <td>
                                            {input projects-$id-import}
                                        </td>
                                        <td>
                                            <strong>{$updateProjects[$id]['student']}</strong> |
                                            {$updateProjects[$id]['login']}@stud.fit.vutbr.cz<br>
                                            {$updateProjects[$id]['title']}
                                            {ifset $updateProjects[$id]['type']}({$updateProjects[$id]['type']}){/ifset}
                                        </td>
                                    </tr>
                                {/ifset}
                            {/foreach}
                        </table>
                        <!-- /.table -->
                    </div>
                {else}
                    <p>
                        Žádné projekty k aktualizaci.
                    </p>
                {/if}
            </div>

            <div class="box-footer">
                {input submit, class => 'btn btn-primary'}
            </div>
        {/form}
    {else}
        {form step1Form}
            <div class="box-body">
                {include errorsPrint, 'form' => $_form}

                <p>
                    Pro získání JSON souboru použijte URL v následujícím tvaru:
                </p>
                <p style="padding-left: 30px">
                    https://wis.fit.vutbr.cz/FIT/db/vyuka/szz/get-bciprj.php?login=<span class="text-danger"><strong>LOGIN</strong></span>&year=<span class="text-danger"><strong>YEAR</strong></span>
                </p>
                <p>
                    kde jako <span class="text-danger"><strong>LOGIN</strong></span> zadejte svůj login a jako <span class="text-danger"><strong>YEAR</strong></span> uveďte rok.
                </p>
                <p>
                    Viz příklad pro vámi vedené BP a DP pro tento rok:
                </p>
                <p style="padding-left: 30px">
                    <a href="https://wis.fit.vutbr.cz/FIT/db/vyuka/szz/get-bciprj.php?login={$user->identity->email|truncate: strpos($user->identity->email, '@'), ''}&year={date('Y')}" target="_blank">
                        https://wis.fit.vutbr.cz/FIT/db/vyuka/szz/get-bciprj.php?login={$user->identity->email|truncate: strpos($user->identity->email, '@'), ''}&year={date('Y')}
                    </a>
                </p>

                <div class="form-group">
                    {label file /}
                    {input file, class => 'form-control'}
                </div>

                <div class="form-group">
                    Nebo můžete obsah JSON souboru přímo zkopírovat do textového pole:<br>
                    {input text, class => 'form-control', rows => '8'}
                </div>
            </div>

            <div class="box-footer">
                {input submit, class => 'btn btn-primary'}
            </div>
        {/form}
    {/if}
{/block}