{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="form-group">
            {label date /}
            {input date, class => 'form-control'}
        </div>

        <div class="form-group">
            {label text /}
            {input text, class => 'form-control ckeditor'}
        </div>

        {input submit, class => 'btn btn-primary'}
        {ifset $cancelButton}{$cancelButton}{/ifset}
    {/form}
{/block}