{block title}
    <h1>Termíny</h1>
{/block}

{block breadcrumb}
    <ol class="breadcrumb">
        <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
        <li><a n:href="Term:">Termíny</a></li>
    </ol>
{/block}

{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h2 class="box-title">Výpis termínů</h2>
                </div>
                <div class="box-body">
                    {control termsDataGrid}
                </div>
            </div>
        </div>
    </div>
{/block}
