{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="form-group">
            {label feedback /}
            {input feedback, class => 'form-control ckeditor'}
        </div>

        <div class="form-group">
            <div class="checkbox">
                {input sent}
            </div>
        </div>

        {input submit, class => 'btn btn-primary'}
        {$cancelButton}
    {/form}
{/block}