{extends $original_template}

{block detail}
    <h3>{$item->getSubject()} <small>{$item->getSent()|date:'j.n.Y H:i'}</small></h3>
    <strong>Odesílatel:</strong> {$item->getSender()}<br>
    <strong>Příjemci:</strong> {$item->getReceivers()}
    <hr>
    {$item->getMessage()|noescape}
{/block}
