{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="modal-body box no-margin no-border no-shadow">
            <div n:class="$singleReceiver ? hidden, form-group">
                {label receivers /}
                <div class="checkbox">
                    {input receivers}
                </div>
            </div>

            <div class="form-group">
                {label template /}
                {input template, class => 'form-control select2', data-placeholder => 'Žádná', data-allow-clear => 'true', style => 'width: 100%'}
            </div>

            {snippet mailSnippet}
                <div class="form-group">
                    {label subject /}
                    {input subject, class => 'form-control'}
                </div>

                <div class="form-group">
                    {label message /}
                    {input message, class => 'form-control ckeditor'}
                </div>
            {/snippet}

            <div class="checkbox">
                {input copy}
            </div>

            <div class="checkbox">
                {input templateSave}
            </div>

            <div id="template-name-container" class="form-group">
                {label templateName /}
                {input templateName, class => 'form-control'}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            {input send, class => 'btn btn-primary'}
        </div>
        <script type="text/javascript">
            $('#' + {$control["form"]['template']->htmlId}).off('change').on('change', function () {
                $.nette.ajax({
                    type: 'GET',
                    url: {link getMailTemplateData!},
                    data: {
                        '{$control->getName()|noescape}-templateId': $(this).val()
                    }
                });
            });
        </script>
    {/form}
{/block}