{block title}
    <h1>{$project->getName()} <small>{$projectTypes[$project->getType()]}</small></h1>
    <div n:if="count($project->getTags()) > 0" class="tags-list">
        <strong><i class="fa fa-tag"></i> Štítky:&nbsp;&nbsp;&nbsp;</strong>
        <span n:foreach="$project->getTags() as $tag" class="label label-primary">{$tag->getName()}</span>
    </div>
{/block}

{block breadcrumb}
    <div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" aria-labelledby="send-message-modalLabel">
        <div class="modal-lg modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="send-message-modalLabel">Zaslat zprávu</h4>
                </div>

                {control sendMessageForm}
            </div>
        </div>
    </div>

    <ol class="breadcrumb">
        <li>
            <a href="#send-message-modal" data-toggle="modal">
                <i class="fa fa-envelope-o"></i>{$project->getStudent()->getName()}
            </a>
        </li>
    </ol>
{/block}

{block content}
    <div class="row">
        <div class="col-md-12">
            {if $project->getSecretTask() && $user->isInRole('student') && $project->getStudent()->getId() != $user->getId()}
                <div class="callout callout-warning">
                    Tento projekt je označen jako tajný a k jeho detailu bohužel nemáte přístup.
                </div>
            {else}
                <div n:if="$project->getNotActive()" class="callout callout-warning">
                    Projekt již není aktivní a práce na něm nebyla dokončena.
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h2 class="box-title">Zadání</h2>
                        <div class="box-tools pull-right">
                            {if $project->getWisId()}
                                <a href="https://wis.fit.vutbr.cz/FIT/{$user->isInRole('student') ? 'st' : 'db'}/bci-prj-z.php?id={$project->getWisId()}" target="_blank" class="btn btn-sm btn-default">Zobrazit ve WIS</a>
                                &nbsp;&nbsp;&nbsp;
                            {/if}
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        {$project->getTask()|noescape}
                    </div>
                </div>
                <div n:if="!$user->isInRole('student') || $user->isInRole('student') && $user->getId() == $project->getStudent()->getId()" class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h2 class="box-title">Soukromá poznámka <small>(viditelná pouze pro vás)</small></h2>
                        <div class="box-tools pull-right">
                            <a href="#secret-note-form" id="secret-note-edit" class="btn btn-primary btn-sm">Editovat poznámku</a>
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body tab-content">
                        <div role="tabpanel" class="tab-pane active" id="secret-note-text">
                            {if $user->isInRole('student')}
                                {$project->getPrivateNote()|noescape}
                            {else}
                                {$project->getSecretNote()|noescape}
                            {/if}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="secret-note-form">
                            <form id="secret-note" method="post">
                                <div class="form-group">
                                    <textarea name="secret-note" class="form-control ckeditor" title="Soukromá poznámka">
                                        {if $user->isInRole('student')}
                                            {$project->getPrivateNote()|noescape}
                                        {else}
                                            {$project->getSecretNote()|noescape}
                                        {/if}
                                    </textarea>
                                </div>
                                <input type="submit" value="Uložit" class="btn btn-primary" />
                                <a href="#secret-note-text" aria-controls="secret-note-text" role="tab" data-toggle="tab" class="btn btn-danger">Zrušit</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h2 class="box-title">Plán a průběh činnosti</h2>
                        <div class="box-tools pull-right">
                            {if !$user->isInRole('student') || $user->id == $project->getStudent()->getId()}
                                <a href="#add-milestone-form" id="add-milestone" class="btn btn-sm btn-primary">Přidat milník</a>
                                <a n:if="$user->isAllowed('Report', 'add')" href="#add-report-form" id="add-report" class="btn btn-sm btn-success">Přidat report</a>
                                <a n:if="$user->isAllowed('Consultation', 'add')" href="#add-consultation-form" id="add-consultation" class="btn btn-sm btn-success">Přidat konzultaci</a>
                                &nbsp;&nbsp;&nbsp;
                            {/if}
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a n:href="timeLineHidden! selector => 'milestone', display => isset($user->identity->timeLineHidden['milestone'])" class="ajax">
                                            <i n:class="fa, !isset($user->identity->timeLineHidden['milestone']) ? fa-check-square : fa-square-o"></i> Zobrazit milníky
                                        </a>
                                    </li>
                                    <li>
                                        <a n:href="timeLineHidden! selector => 'term', display => isset($user->identity->timeLineHidden['term'])" class="ajax">
                                            <i n:class="fa, !isset($user->identity->timeLineHidden['term']) ? fa-check-square : fa-square-o"></i> Zobrazit termíny
                                        </a>
                                    </li>
                                    <li>
                                        <a n:href="timeLineHidden! selector => 'consultation', display => isset($user->identity->timeLineHidden['consultation'])" class="ajax">
                                            <i n:class="fa, !isset($user->identity->timeLineHidden['consultation']) ? fa-check-square : fa-square-o"></i> Zobrazit konzultace
                                        </a>
                                    </li>
                                    <li>
                                        <a n:href="timeLineHidden! selector => 'report', display => isset($user->identity->timeLineHidden['report'])" class="ajax">
                                            <i n:class="fa, !isset($user->identity->timeLineHidden['report']) ? fa-check-square : fa-square-o"></i> Zobrazit reporty
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a n:href="timeLineSort! direction => 'asc'" class="ajax">
                                            <i class="fa fa-sort-amount-asc"></i> Řadit vzestupně
                                        </a>
                                    </li>
                                    <li>
                                        <a n:href="timeLineSort! direction => 'desc'" class="ajax">
                                            <i class="fa fa-sort-amount-desc"></i> Řadit sestupně
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul id="add-milestone-form" class="timeline timeline-inverse hidden">
                            <li>
                                <i class="fa fa-calendar-check-o bg-green"></i>

                                <div class="timeline-item">
                                    <h3 class="timeline-header">
                                        Nový milník
                                    </h3>

                                    <div class="timeline-body">
                                        {control addEditMilestoneForm-0}
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul id="add-report-form" class="timeline timeline-inverse hidden">
                            <li>
                                <i class="fa fa-hourglass-half bg-aqua"></i>

                                <div class="timeline-item">
                                    <h3 class="timeline-header">
                                        Nový report
                                    </h3>

                                    <div class="timeline-body">
                                        {control addEditReportForm-0}
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul id="add-consultation-form" class="timeline timeline-inverse hidden">
                            <li>
                                <i class="fa fa-comments bg-yellow"></i>

                                <div class="timeline-item">
                                    <h3 class="timeline-header">
                                        Nová konzultace
                                    </h3>

                                    <div class="timeline-body">
                                        {control addEditConsultationForm-0}
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div n:snippet="timeLineItems"  class="row">
                            <div class="col-lg-12">
                                <p n:if="$timeLineSort == 'desc' && !$showAllItems" class="text-center">
                                    <a n:href="showAllItems!" class="ajax btn btn-default">
                                        <i class="fa fa-refresh"></i> Načíst budoucí
                                    </a>
                                </p>

                                <ul n:if="count($timeLine) > 0" class="timeline timeline-inverse">
                                    {var $labels = []}
                                    {foreach $timeLine as $key => $item}
                                        {if strpos($key, 'milestone') !== false || strpos($key, 'term') !== false}
                                            {var $label = $item->getDate()->format('j.n.Y')}
                                        {else}
                                            {var $end = clone $item->getDate()}
                                            {var $label = $item->getDate()->format('j.n.Y') . '-' . $end->modify('+6 days')->format('j.n.Y')}
                                        {/if}
                                        <li n:if="!in_array($label, $labels) &&
                                    (strpos($key, 'milestone') !== false && !isset($user->identity->timeLineHidden['milestone']) ||
                                    strpos($key, 'term') !== false && !isset($user->identity->timeLineHidden['term']) ||
                                    strpos($key, 'consultation') !== false && !isset($user->identity->timeLineHidden['consultation']) ||
                                    strpos($key, 'report') !== false && !isset($user->identity->timeLineHidden['report']))"
                                                class="time-label">
                                    <span n:class="strpos($key, 'milestone') !== false || strpos($key, 'term') !== false ? bg-blue : bg-red">
                                        {$labels[] = $label}
                                    </span>
                                        </li>

                                        <li n:if="strpos($key, 'term') !== false && !isset($user->identity->timeLineHidden['term'])">
                                            <i class="fa fa-calendar-o bg-purple"></i>

                                            <div class="timeline-item">
                                                <h3 class="timeline-header">
                                                    Termín - {$item->getName()}
                                                    <div n:if="$user->isAllowed('Term', 'edit')" class="pull-right">
                                                        <a n:href="Term:edit, 'id' => $item->getId()" class="btn btn-primary btn-xs">Editovat termín</a>
                                                        <a n:href="Term:delete, 'id' => $item->getId(), 'projectId' => $project->getId()" class="btn btn-danger btn-xs" data-datagrid-confirm="Opravdu chcete smazat tento termín? Smaže se u všech projektů ve skupině.">Smazat termín</a>
                                                    </div>
                                                </h3>

                                                <div class="timeline-body">
                                                    {$item->getDescription()|noescape}
                                                </div>
                                            </div>
                                        </li>

                                        <li n:if="strpos($key, 'milestone') !== false && !isset($user->identity->timeLineHidden['milestone'])">
                                            <i class="fa fa-calendar-check-o bg-green"></i>

                                            <div class="timeline-item">
                                                <h3 class="timeline-header">
                                                    Milník
                                                    <div n:if="!$user->isInRole('student') || $user->id == $project->getStudent()->getId()" class="pull-right">
                                                        <a href="#milestone-form-{$item->getId()}" class="btn btn-primary btn-xs milestone-edit">Editovat milník</a>
                                                        <a n:href="Milestone:delete, 'id' => $item->getId(), 'projectId' => $project->getId()" class="btn btn-danger btn-xs" data-datagrid-confirm="Opravdu chcete smazat tento milník?">Smazat milník</a>
                                                    </div>
                                                </h3>

                                                <div class="timeline-body tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="milestone-text-{$item->getId()}">
                                                        {$item->getText()|noescape}
                                                    </div>

                                                    <div role="tabpanel" class="tab-pane" id="milestone-form-{$item->getId()}">
                                                        {control addEditMilestoneForm-{$item->getId()}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li n:if="strpos($key, 'report') !== false && !isset($user->identity->timeLineHidden['report'])" id="report-{$item->getId()}">
                                            <i class="fa fa-hourglass-half bg-aqua"></i>

                                            <div class="timeline-item">
                                                <h3 class="timeline-header">
                                                    Report - {$item->getProgress()}% <img src="{$basePath}/images/smiley_{$item->getSmiley()}.png" class="smiley"/>
                                                    <div n:if="!$user->isInRole('student') || $user->id == $project->getStudent()->getId()" class="pull-right">
                                                        <a n:if="!$user->isInRole('student')" href="#feedback-form-{$item->getId()}" class="btn btn-success btn-xs feedback-edit">{empty($item->getFeedback()) ? 'Přidat feedback' : 'Editovat feedback'}</a>
                                                        <a href="#report-form-{$item->getId()}" class="btn btn-primary btn-xs report-edit">Editovat report</a>
                                                        <a n:href="Report:delete, 'id' => $item->getId(), 'projectId' => $project->getId()" class="btn btn-danger btn-xs" data-datagrid-confirm="Opravdu chcete smazat tento report?">Smazat report</a>
                                                    </div>
                                                </h3>

                                                <div class="timeline-body">
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="row tab-pane active" id="report-text-{$item->getId()}">
                                                            <div class="col-sm-6">
                                                                <strong>Co jsem udělal tento týden?</strong><br>
                                                                {$item->getLastWeek()|noescape}
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <strong>Co udělám příští týden?</strong><br>
                                                                {$item->getNextWeek()|noescape}
                                                            </div>
                                                        </div>

                                                        <div role="tabpanel" class="row tab-pane" id="report-form-{$item->getId()}">
                                                            <div class="col-lg-12">
                                                                {control addEditReportForm-{$item->getId()}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div n:if="!$user->isInRole('student') || $user->id == $project->getStudent()->getId()" class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active" id="feedback-text-{$item->getId()}">
                                                            {if !empty($item->getFeedback())}
                                                                <strong>Zpětná vazba vedoucího</strong><br>
                                                                {$item->getFeedback()|noescape}
                                                            {/if}
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane" id="feedback-form-{$item->getId()}">
                                                            {control addEditFeedbackForm-{$item->getId()}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li n:if="strpos($key, 'consultation') && !isset($user->identity->timeLineHidden['consultation'])">
                                            <i class="fa fa-comments bg-yellow"></i>

                                            <div class="timeline-item">
                                                <h3 class="timeline-header">
                                                    Konzultační schůzka
                                                    <div n:if="$user->isAllowed('Consultation', 'edit')" class="pull-right">
                                                        <a href="#consultation-form-{$item->getId()}" class="btn btn-primary btn-xs consultation-edit">Editovat konzultaci</a>
                                                        <a n:href="Consultation:delete, 'id' => $item->getId(), 'projectId' => $project->getId()" class="btn btn-danger btn-xs" data-datagrid-confirm="Opravdu chcete smazat tuto konzultaci?">Smazat konzultaci</a>
                                                    </div>
                                                </h3>

                                                <div class="timeline-body">

                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active" id="consultation-text-{$item->getId()}">
                                                            {$item->getText()|noescape}
                                                        </div>

                                                        <div role="tabpanel" class="tab-pane" id="consultation-form-{$item->getId()}">
                                                            {control addEditConsultationForm-{$item->getId()}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {/foreach}

                                    <li>
                                        <i class="fa fa-clock-o bg-gray"></i>
                                    </li>
                                </ul>

                                <p n:if="$timeLineSort == 'asc' && !$showAllItems" class="text-center">
                                    <a n:href="showAllItems!" class="ajax btn btn-default">
                                        <i class="fa fa-refresh"></i> Načíst budoucí
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h2 class="box-title">Dokumenty</h2>
                        <div class="box-tools pull-right">
                            {if !$user->isInRole('student') || $user->id == $project->getStudent()->getId()}
                                <a n:href="Document:add, 'projectId' => $project->getId()" class="btn btn-sm btn-primary">Přidat dokument</a>
                                &nbsp;&nbsp;&nbsp;
                            {/if}
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Název</th>
                                    <th>Popis</th>
                                    <th></th>
                                </tr>
                                <tr n:foreach="$documents as $document" n:if="$document->getPublic() || $user->id == $document->getProject()->getStudent()->getId() || $user->id == $document->getProject()->getGroup()->getSupervisor()->getId()">
                                    <td>
                                        {$document->getName()}
                                    </td>
                                    <td>
                                        {$document->getDescription()}
                                    </td>
                                    <td class="text-right">
                                        <a href="{$document->getLink() ?: $presenter->link('Document:download', ['id' => $document->getId()])}" target="_blank" class="btn btn-success btn-xs">
                                            <i class="fa fa-download"></i> Stáhnout
                                        </a>
                                        <a n:href="Document:edit, 'id' => $document->getId(), 'projectId' => $project->getId()" class="btn btn-primary btn-xs">
                                            <i class="fa fa-pencil"></i> Editovat
                                        </a>
                                        <a n:href="Document:delete, 'id' => $document->getId(), 'projectId' => $project->getId()" class="btn btn-danger btn-xs" data-datagrid-confirm="Opravdu chcete smazat tento soubor?">
                                            <i class="fa fa-trash"></i> Smazat
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h2 class="box-title">Literatura</h2>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        {$project->getLiterature()|noescape}
                    </div>
                </div>
            {/if}
        </div>
    </div>
{/block}

{block head}
    <script n:if="!$user->isInRole('student') || $user->isInRole('student') && $user->getId() == $project->getStudent()->getId()" type="text/javascript">
        $(document).ready(function () {
            $('#secret-note-form form').on('submit', function (e) {
                e.preventDefault();
                $.nette.ajax({
                    type: 'POST',
                    url: {link saveNote!},
                    data: {
                        'note': $(this).find('textarea[name=secret-note]').val()
                    }
                });
            });

            $('#secret-note-edit, #add-milestone, #add-report, #add-consultation, .milestone-edit, .report-edit, .consultation-edit{if !$user->isInRole('student')}, .feedback-edit{/if}').on('click', function (e) {
                e.preventDefault();
                var href = $($(this).attr('href'));
                if (href.hasClass('tab-pane')) {
                    if (!href.hasClass('active')) {
                        $(this).tab('show');
                    }
                } else {
                    if (href.hasClass('hidden')) {
                        href.removeClass('hidden');
                    }
                }

                if ($(this).parents('.box').hasClass('collapsed-box')) {
                    var plusBtn = $(this).parent().find('button.btn-box-tool');
                    if (plusBtn) {
                        plusBtn.trigger('click');
                    }
                }
            });

            $('.cancel-btn').on('click', function (e) {
                e.preventDefault();
                var href = $($(this).attr('href'));
                href.addClass('hidden');
            });
        });
    </script>
{/block}