{layout '../../AbstractForm.latte'}

{block content}
    {if isset($terms)}
        {form step2Form}
            <div class="box-body">
                {if count($terms) > 0}
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            {foreach $form['terms']->containers as $id => $termReplicator}
                                {ifset $terms[$id]}
                                    <tr>
                                        <td>
                                            {input terms-$id-copy}
                                        </td>
                                        <td>
                                            <strong>{$terms[$id]['name']}</strong> |
                                            {$terms[$id]['date']|date: 'j. n. Y'}<br>
                                            <a data-toggle="collapse" href="#term-text-{$id}" aria-expanded="false" aria-controls="term-text-{$id}">
                                               Zobrazit text
                                            </a>
                                            <div class="collapse" id="term-text-{$id}">
                                                {$terms[$id]['description']|noescape}
                                            </div>
                                        </td>
                                    </tr>
                                {/ifset}
                            {/foreach}
                        </table>
                        <!-- /.table -->
                    </div>
                {else}
                    <p>
                        Žádné termíny ke zkopírování.
                    </p>
                {/if}
            </div>

            <div class="box-footer">
                {input submit, class => 'btn btn-primary'}
                <a href="{plink this}" class="btn btn-default">Zpět</a>
            </div>
        {/form}
    {else}
        {form step1Form}
            <div class="box-body">
                <div class="form-group">
                    {label group /}
                    {input group, class => 'form-control select2', data-placeholder => 'Vyberte projektovou skupinu'}
                </div>
            </div>

            <div class="box-footer">
                {input submit, class => 'btn btn-primary'}
            </div>
        {/form}
    {/if}
{/block}