{block title}
    <h1>Konzultace</h1>
{/block}

{block breadcrumb}
    <ol class="breadcrumb">
        <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
        <li><a href="#">Konzultace</a></li>
        <li class="active"><a n:href="this">Přidat</a></li>
    </ol>
{/block}

{block content}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h2 class="box-title">Přidat konzultaci</h2>
                </div>
                {control addEditConsultationForm}
            </div>
        </div>
    </div>
{/block}
