{block title}
    <h1>Konzultace</h1>
{/block}

{block breadcrumb}
    <ol class="breadcrumb">
        <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
        <li><a href="#">Konzultace</a></li>
        <li class="active"><a n:href="this">Přehled</a></li>
    </ol>
{/block}

{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li n:ifset="$mySupervisor" n:class="$mySupervisor->getId() == $selectedSupervisor->getId() ? active">
                        <a n:href="Consultation:default">
                            {$mySupervisor->getName()} &lt;{$mySupervisor->getEmail()}&gt;
                        </a>
                    </li>
                    <li n:class="($selectedSupervisor && !$mySupervisor) || ($selectedSupervisor && $mySupervisor && $mySupervisor->getId() != $selectedSupervisor->getId()) ? active, dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {if ($selectedSupervisor && !$mySupervisor) || ($selectedSupervisor && $mySupervisor && $mySupervisor->getId() != $selectedSupervisor->getId())}
                                {$selectedSupervisor->getName()} &lt;{$selectedSupervisor->getEmail()}&gt;
                            {else}
                                Vybrat konzultační bloky k zobrazení
                            {/if}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li n:foreach="$supervisors as $supervisor" role="presentation">
                                <a role="menuitem" tabindex="-1" n:href="Consultation:default supervisorId => $supervisor->getId()">
                                    {$supervisor->getName()} &lt;{$supervisor->getEmail()}&gt;
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="pull-left header">Přehled konzultací</li>
                </ul>
                <div class="box-body">
                    {if $selectedSupervisor}
                        {if $selectedSupervisor->getId() == $user->id}
                            <strong>Odkaz na veřejnou stránku vašich vypsaných konzultací:</strong>
                            <div class="well well-sm">
                                <a n:href="Consultation:public supervisorId => $user->id, token => sha1('vedouci-' . $user->id)">
                                    {link //Consultation:public supervisorId => $user->id, token => sha1('vedouci-' . $user->id)}
                                </a>
                            </div>
                        {/if}
                        {control consultationsDataGrid}
                    {else}
                        <div class="alert alert-warning">
                            Nemáte vybrané koho konzultační hodiny chcete zobrazit. Výběr provedete pomocí seznamu v pravém horním rohu tohoto boxu.
                        </div>
                    {/if}
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
    </div>
{/block}