{layout '../@layout-public.latte'}

{block title}
    <h1>Konzultace</h1>
{/block}

{block breadcrumb}
    <ol class="breadcrumb">
        <li><a n:href="Homepage:"><i class="fa fa-dashboard"></i> Domů</a></li>
        <li><a href="#">Konzultace</a></li>
        <li class="active"><a n:href="this">Přehled</a></li>
    </ol>
{/block}

{block content}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h2 class="box-title">Přehled konzultací - {$supervisor->getName()}</h2>
                </div>

                <div class="box-body">
                    {control consultationsDataGrid}
                </div>
            </div>
        </div>
    </div>
{/block}