{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <p>
            Zadejte prosím svou e-mailovou adresu na kterou je účet a my na ni zašleme odkaz pro resetování hesla.
        </p>

        <div class="form-group has-feedback">
            {input email, class => 'form-control', placeholder => 'E-mail'}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group">
            {input submit class => 'btn btn-success btn-block btn-flat'}
        </div>
    {/form}
{/block}