{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="box-body">
            <div class="form-group">
                <div class="hidden">
                    {input type}
                </div>

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" n:class="!isset($fileDocument) ? active"><a href="#link-input" aria-controls="link-input" role="tab" data-toggle="tab" data-value="link">Odkaz</a></li>
                    <li role="presentation" n:class="isset($fileDocument) ? active"><a href="#file-input" aria-controls="file-input" role="tab" data-toggle="tab" data-value="file">Soubor</a></li>
                </ul>

                {include typeJsCallback}
            </div>

            <div class="form-group">
                {label name /}
                {input name, class => 'form-control'}
            </div>

            <div class="form-group">
                {label description /}
                {input description, class => 'form-control'}
            </div>

            <div class="form-grop">
                {label public /}
                <div class="radio">
                    {input public}
                </div>
            </div>

            <div class="tab-content">
                <div role="tabpanel" n:class="form-group, tab-pane, !isset($fileDocument) ? active" id="link-input">
                    {label link /}
                    {input link, class => 'form-control'}
                </div>

                <div role="tabpanel" n:class="form-group, tab-pane, isset($fileDocument) ? active" id="file-input">
                    {label file /}
                    {input file, class => 'form-control'}
                    <p></p>
                    <p n:ifset="$fileDocument" class="well well-sm no-margin">
                        <strong>Původní soubor:</strong>
                        <a href="{plink Document:download, id => $fileDocument->getId()}" target="_blank">
                            {$fileDocument->getFileName()}
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="box-footer">
            {input submit, class => 'btn btn-primary'}
        </div>
    {/form}
{/block}

{define typeJsCallback}
    <script type="text/javascript">
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var group = $(this).parents('.form-group');
            group.find("input[value='" + $(this).data('value') + "']").prop('checked', true);
        })
    </script>
{/define}