{layout '../../AbstractForm.latte'}

{block content}
    {snippet formContent}
        {if isset($templates)}
            {form step2Form}
                <div class="modal-body box no-margin no-border no-shadow">
                    {if count($templates) > 0}
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                {foreach $form['templates']->containers as $id => $templateReplicator}
                                    {ifset $templates[$id]}
                                        <tr>
                                            <td>
                                                {input templates-$id-copy}
                                            </td>
                                            <td>
                                                <strong>{$templates[$id]['name']}</strong> |
                                                {$templates[$id]['subject']}<br>
                                                <a data-toggle="collapse" href="#term-text-{$id}" aria-expanded="false" aria-controls="term-text-{$id}">
                                                   Zobrazit obsah zprávy
                                                </a>
                                                <div class="collapse" id="term-text-{$id}">
                                                    {$templates[$id]['message']|noescape}
                                                </div>
                                            </td>
                                        </tr>
                                    {/ifset}
                                {/foreach}
                            </table>
                            <!-- /.table -->
                        </div>
                    {else}
                        <p>
                            Žádné e-mailové šablony ke zkopírování.
                        </p>
                    {/if}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    <a n:href="back!" class="ajax btn btn-default">Zpět</a>
                    {input submit, class => 'btn btn-primary'}
                </div>
            {/form}
        {else}
            {form step1Form}
                <div class="modal-body box no-margin no-border no-shadow">
                    <div class="form-group">
                        {label supervisor /}
                        {input supervisor, class => 'form-control select2', data-placeholder => 'Vyberte vedoucího', style => 'width: 100%'}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    {input submit, class => 'ajax btn btn-primary'}
                </div>
            {/form}
        {/if}
    {/snippet}
{/block}