{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="modal-body box no-margin no-border no-shadow">
            <div class="form-group">
                {label name /}
                {input name, class => 'form-control'}
            </div>

            <div class="form-group">
                {label subject /}
                {input subject, class => 'form-control'}
            </div>

            <div class="form-group">
                {label message /}
                {input message, class => 'form-control ckeditor'}
            </div>

            <div n:ifset="$form['public']" class="checkbox">
                {input public}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            {input submit, class => 'btn btn-primary'}
        </div>
    {/form}
{/block}