<!DOCTYPE html>
<html>
<head>
    <title>Účet vytvořen</title>
</head>
<body>
    Dobrý den,<br>
    Byl vám vytvořen účet na adrese <a n:href="Homepage:">{link 'Homepage:'}</a>. Přihlásit se můžete na adrese <a n:href="Sign:in">{link 'Sign:in'}</a>.<br><br>

    Jméno: {$user->getName()}<br>
    E-mail: {$user->getEmail()}<br>
    {ifset $password}
    Heslo: {$password}
    {/ifset}
</body>
</html>