<!DOCTYPE html>
<html>
<head>
    <title>Ověření odhlášení z konzultace</title>
</head>
<body>
    Dobrý den,<br>
    Pro dokončení odhlášení z konzultace ({$request->getConsultation()->getDateFrom()|date: 'j.n.Y H:i'} - {$request->getConsultation()->getSupervisor()->getName()}) přejděte na tuto stránku:
    <a n:href="Consultation:public, 'supervisorId' => $request->getConsultation()->getSupervisor()->getId(), 'token' => sha1('vedouci-' . $request->getConsultation()->getSupervisor()->getId()), 'logout' => $request->getToken()->getToken()">{link Consultation:public, 'supervisorId' => $request->getConsultation()->getSupervisor()->getId(), 'token' => sha1('vedouci-' . $request->getConsultation()->getSupervisor()->getId()), 'logout' => $request->getToken()->getToken()}</a>.
    <br><br>
    Odkaz bude platný pouze do {$request->getToken()->getDateValidUntil()|date: 'j.n.Y H:i'}.
    <br><br>
    Pokud jste nežádali o odhlášení z konzultace, ignorujte prosím tento e-mail.
</body>
</html>