<!DOCTYPE html>
<html>
<head>
    <title>Projekt přiřazen</title>
</head>
<body>
    Dobrý den,<br>
    Oznamujeme vám, že jste právě byl(a) odhlášena z následujícího konzultačního bloku:<br>
    Vedoucí: {$consultation->getSupervisor()->getName()} (<a href="mailto: {$consultation->getSupervisor()->getEmail()}">{$consultation->getSupervisor()->getEmail()}</a>)<br>
    Začátek: {$consultation->getDateFrom()|date:'j.N.Y H:i'}<br>
    Konec: {$consultation->getDateTo()|date:'j.N.Y H:i'}<br>
</body>
</html>