<!DOCTYPE html>
<html>
<head>
    <title>Zapomenuté heslo</title>
</head>
<body>
    Dobrý den,<br>
    Pro reset hesla přejděte na tuto stránku:
    <a n:href="Sign:forgottenPassword, 'token' => $token->getToken()">{link 'Sign:forgottenPassword', 'token' => $token->getToken()}</a>.
    <br><br>
    Odkaz bude platný pouze do {$token->getDateValidUntil()|date: 'j.n.Y H:i'}.
    <br><br>
    Pokud jste nežádali o reset hesla, ignorujte prosím tento e-mail.
</body>
</html>