<!DOCTYPE html>
<html>
<head>
    <title>Projekt přiřazen</title>
</head>
<body>
    Dobrý den,<br>
    Na adrese <a n:href="Homepage:">{link 'Homepage:'}</a> vám byl přiřazen projekt "{$project->getName()}" v projektové skupině "{$project->getGroup()->getName()}".
    Vedoucím projektové skupiny je {$project->getGroup()->getSupervisor()->getName()}.
    Tento projekt můžete spravovat po <a n:href="Sign:in">přihlášení</a>.<br><br>
</body>
</html>