<!DOCTYPE html>
<html>
<head>
    <title>Dlouho jste nebyl(a) na konzultaci</title>
</head>
<body>
    Dobrý den,<br>
    Oznamujeme vám, že jste již více jak {$group->getReminderConsultationsWeeks()}
    {$group->getReminderConsultationsWeeks() == 1 ? 'týden' : $group->getReminderConsultationsWeeks() < 5 ? 'týdny' : 'týdnů'}
    nebyl(a) na konzultaci, nebo alespoň nemáte zadán zápis z jejího průběhu v systému a to u projektu {$project->getName()}.
</body>
</html>