<!DOCTYPE html>
<html>
<head>
    <title>Dlouho jste nevyplnil(a) report</title>
</head>
<body>
    Dobrý den,<br>
    Oznamujeme vám, že jste již více jak {$group->getReminderConsultationsWeeks()}
    {$group->getReminderReportsWeeks() == 1 ? 'týden' : $group->getReminderReportsWeeks() < 5 ? 'týdny' : 'týdnů'}
    nevyplnil(a) report u projektu {$project->getName()}.
</body>
</html>