<!DOCTYPE html>
<html>
<head>
    <title>Zpětná vazba k reportu</title>
</head>
<body>
    {var $end = clone $report->getDate()}
    {var $label = $report->getDate()->format('j.n.Y') . '-' . $end->modify('+6 days')->format('j.n.Y')}
    Dobrý den,<br>
    Váš vedoucí vyplnil zpětnou vazbu k reportu pro týden {$label}:<br>
    {$report->getFeedback()|noescape}
    <br>
    <strong>Report:</strong>
    <br>
    Co jsem udělal tento týden?
    <br>
    {$report->getLastWeek()|noescape}
    <br>
    Co udělám příští týden?
    <br>
    {$report->getNextWeek()|noescape}
</body>
</html>