{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="box-body">
            <div class="form-group">
                {label name /}
                {input name, class => 'form-control'}
            </div>

            <div class="form-group">
                {label dateFrom /}
                {input dateFrom, class => 'form-control datepicker datepickerfrom', data-date-to => '#' . $_form['dateTo']->htmlId}
            </div>

            <div class="form-group">
                {label dateTo /}
                {input dateTo, class => 'form-control datepicker datepickerto', data-date-from => '#' . $_form['dateFrom']->htmlId}
            </div>

            <div class="form-group">
                <div class="checkbox">
                    {input reminderConsultations}
                </div>
            </div>

            <div id="reminder-consultations" class="form-group">
                {label reminderConsultationsWeeks /}
                {input reminderConsultationsWeeks, class => 'form-control'}
            </div>

            <div class="form-group">
                <div class="checkbox">
                    {input reminderReports}
                </div>
            </div>

            <div id="reminder-reports" class="form-group">
                {label reminderReportsWeeks /}
                {input reminderReportsWeeks, class => 'form-control'}
            </div>
        </div>

        <div class="box-footer">
            {input submit, class => 'btn btn-primary'}
        </div>
    {/form}
{/block}