{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="box-body">
            <div class="form-group">
                {label name /}
                {input name, class => 'form-control'}
            </div>

            <div class="form-group">
                {label date /}
                {input date, class => 'form-control datepicker', data-date-min-date => $group->getDateFrom()->format('Y-m-d'), data-date-max-date => $group->getDateTo()->format('Y-m-d')}
            </div>

            <div class="form-group">
                {label description /}
                {input description, class => 'form-control ckeditor'}
            </div>

            <div class="checkbox">
                {input public}
            </div>
        </div>

        <div class="box-footer">
            {input submit, class => 'btn btn-primary'}
        </div>
    {/form}
{/block}