{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="box-body">
            <div class="form-group">
                {label date /}
                {input date, class => 'form-control datepicker'}
            </div>

            <div class="form-group">
                {label text /}
                {input text, class => 'form-control ckeditor'}
            </div>
        </div>

        <div class="box-footer">
            {input submit, class => 'btn btn-primary'}
        </div>
    {/form}
{/block}