{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="modal-body">
            <div class="form-group">
                {label text /}
                {input text, class => 'form-control ckeditor'}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
            {input send, class => 'btn btn-primary'}
        </div>
    {/form}
{/block}