{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        {if !$editing}
            <div class="box-body">
                <div class="form-group">
                    {label students /}
                    {input students, class => 'form-control select2', data-placeholder => 'Vyberte z vašich studentů', data-allow-clear => 'true'}
                </div>

                {include studentsJsCallback}

                {formContainer student}
                    <div class="form-group">
                        {label name /}
                        {input name, class => 'form-control'}
                    </div>

                    <div class="form-group">
                        {label email /}
                        {input email, class => 'form-control'}
                    </div>
                {/formContainer}
            </div>

            <div class="box-header with-border">
                <h3 class="box-title">Studentův projekt</h3>
            </div>
        {/if}

        <div class="box-body">
            {formContainer project}
                <div class="form-group">
                    {label name /}
                    {input name, class => 'form-control'}
                </div>

                <div class="form-group">
                    {label task /}
                    {input task, class => 'form-control ckeditor'}
                </div>

                <div class="form-group">
                    {label literature /}
                    {input literature, class => 'form-control ckeditor'}
                </div>

                <div class="form-group">
                    {label tags /}
                    {input tags, class => 'form-control'}

                    <script type="text/javascript">
                        $(document).ready(function () {
                            var newTagId = 0;
                            $('#' + {$control["form"]["project"]["tags"]->htmlId}).select2({
                                tags: true,
                                createTag: function (params) {
                                    console.log(params);
                                    // Don't offset to create a tag if there is no @ symbol
                                    if (params.term.match('^[0-9]+$]')) {
                                        alert('Tag nemůže být pouze číslo');
                                        // Return null to disable tag creation
                                        return null;
                                    }

                                    newTagId--;
                                    return {
                                        id: newTagId + '|' + params.term,
                                        text: params.term
                                    }
                                }
                            });
                        });
                    </script>
                </div>

                <div class="form-group">
                    {label type /}
                    <div class="radio">
                        {input type, class => 'form-control'}
                    </div>
                </div>

                <div class="form-group">
                    {label secretTask /}
                    <div class="radio">
                        {input secretTask, class => 'form-control'}
                    </div>
                </div>

                <div class="form-group">
                    {label notActive /}
                    <div class="radio">
                        {input notActive, class => 'form-control'}
                    </div>
                </div>
            {/formContainer}
        </div>

        <div class="box-footer">
            {input submit, class => 'btn btn-primary'}
        </div>
    {/form}
{/block}

{define studentsJsCallback}
    <script type="text/javascript">
        $('#' + {$control["form"]["students"]->htmlId}).on('change', function() {
            $('#' + {$control["form"]["student"]["name"]->htmlId}).val($(this).find('option:selected').data('name'));
            $('#' + {$control["form"]["student"]["email"]->htmlId}).val($(this).find('option:selected').data('email'));
        });
    </script>
{/define}