{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <p>
            Nyní si můžete nastavit nové heslo.
        </p>

        <div class="form-group has-feedback">
            {label newPassword /}
            {input newPassword, class => 'form-control'}
        </div>

        <div class="form-group has-feedback">
            {label newPasswordAgain /}
            {input newPasswordAgain, class => 'form-control'}
        </div>

        <div class="form-group">
            {input submit class => 'btn btn-success btn-block btn-flat'}
        </div>
    {/form}
{/block}