{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="box-body">
            <div class="form-group">
                {label dateFrom /}
                {input dateFrom, class => 'form-control datepicker datepickerfrom', data-date-to => '#' . $_form['dateTo']->htmlId}
            </div>

            <div class="form-group">
                {label dateTo /}
                {input dateTo, class => 'form-control datepicker datepickerto', data-date-from => '#' . $_form['dateFrom']->htmlId}
            </div>

            <div class="form-group">
                {label timeFrom /}
                {input timeFrom, class => 'form-control timepicker'}
            </div>

            <div class="form-group">
                {label count /}
                {input count, class => 'form-control'}
            </div>

            <div class="form-group">
                {label length /}
                {input length, class => 'form-control'}
            </div>

            <div class="form-group">
                {label repeat /}
                {input repeat, class => 'form-control'}
            </div>
        </div>

        <div class="box-footer">
            {input submit, class => 'btn btn-primary'}
        </div>
    {/form}
{/block}