{block flashMessages}
    <div n:if="count($flashes) > 0" class="box-body">
        <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
            {$flash->message}
        </div>
    </div>
{/block}

{block content}
    {form form}
        <div class="box-body">
            {foreach $form->controls as $input}
                {if $input instanceof Nette\Forms\Controls\SubmitButton}
                    {capture $boxFooter}
                        {input $input, class => 'btn btn-primary'}
                    {/capture}
                {elseif $input instanceof Nette\Forms\Controls\Checkbox ||
                    $input instanceof Nette\Forms\Controls\CheckboxList ||
                    $input instanceof Nette\Forms\Controls\RadioList}
                    <div class="form-group">
                        {if $input->caption}{label $input /}{/if}
                        <div n:class="$input instanceof Nette\Forms\Controls\RadioList ? radio : checkbox">
                            {input $input}
                        </div>
                    </div>
                {else}
                    <div class="form-group">
                        {if $input->caption}{label $input /}{/if}
                        {input $input, class => 'form-control'}
                    </div>
                {/if}
            {/foreach}
        </div>

        <div class="box-footer">
            {$boxFooter|noescape}
        </div>
    {/form}
{/block}

{define errorsPrint}
    {if $form->hasErrors()}
        <div class="alert alert-danger">
            Při zpracování formuláře se objevila chyba:
            <ul>
                <li n:foreach="$form->getErrors() as $error">{$error}</li>
            </ul>
        </div>
    {/if}
{/define}