{layout '../../AbstractForm.latte'}

{block content}
    {form form}
        <div class="form-group">
            {label date /}
            {input date, class => 'form-control'}
        </div>

        <div class="form-group">
            {label smiley /}
            <div class="image-radio">
                {foreach $form['smiley']->items as $key => $label}
                    {label smiley:$key}
                        {input smiley:$key}
                        <img src="{$basePath}/images/smiley_{$key}.png" class="img-responsive"/>
                    {/label}
                {/foreach}
            </div>
        </div>

        <div class="form-group">
            {label progress /}
            {input progress, class => 'form-control bootstrap-slider', data-slider-id => 'blue'}
        </div>

        <div class="form-group">
            {label lastWeek /}
            {input lastWeek, class => 'form-control ckeditor'}
        </div>

        <div class="form-group">
            {label nextWeek /}
            {input nextWeek, class => 'form-control ckeditor'}
        </div>

        {input submit, class => 'btn btn-primary'}
        {ifset $cancelButton}{$cancelButton}{/ifset}
    {/form}
{/block}