{extends '../../AbstractDataGrid.latte'}

{block afterDataGrid}
    {snippet forms}
        {ifset $showLoginForm}
            <div class="modal fade" id="consultation-login-modal" tabindex="-1" role="dialog" aria-labelledby="consultation-login-modalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="consultation-login-modalLabel">Přihlásit se na konzultaci</h4>
                        </div>
        
                        {form loginForm}
                            <div class="modal-body box no-margin no-border no-shadow">
                                <div class="form-group">
                                    {label name /}
                                    {input name, class => 'form-control'}
                                </div>

                                <div class="form-group">
                                    {label email /}
                                    {input email, class => 'form-control'}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                                {input submit, class => 'btn btn-primary'}
                            </div>
                        {/form}
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $('#consultation-login-modal').modal('show');
            </script>
        {/ifset}

        {ifset $showLogoutForm}
            <div class="modal fade" id="consultation-logout-modal" tabindex="-1" role="dialog" aria-labelledby="consultation-logout-modalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="consultation-logout-modalLabel">Přihlásit se na konzultaci</h4>
                        </div>

                        {form logoutForm}
                            <div class="modal-body box no-margin no-border no-shadow">
                                <div class="form-group">
                                    {label email /}
                                    {input email, class => 'form-control'}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                                {input submit, class => 'btn btn-primary'}
                            </div>
                        {/form}
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $('#consultation-logout-modal').modal('show');
            </script>
        {/ifset}
    {/snippet}
    
    <script type="text/javascript">
        $(document).on('change', 'tr.date-row input[type=checkbox]', function () {
            var next = $(this).parents('tr').next('tr').find('input[type=checkbox]');
            while (next.length !== 0 && next.parents('tr').hasClass('time-row')) {
                if ($(this).is(':checked')) {
                    next.prop('checked', true);
                } else {
                    next.prop('checked', false);
                }
                window.happy.checkCheckboxState(next[0]);
                next = next.parents('tr').next('tr').find('input[type=checkbox]');
            }
        });
    </script>
{/block}