.no-sidebar .content-wrapper, .no-sidebar .main-footer {
    margin-left: 0px;
}

.no-sidebar .main-sidebar {
    display: none;
}

.sidebar-menu .project-submenu {
    white-space: normal;
}

.sidebar-menu .project-submenu>a {
    padding-right: 10px;
}

.projects .list {
    padding-right: 0;
}

.projects .reports {
    padding-left: 0;
}

.projects .list .checkbox {
    margin-top: 0;
}

.projects .list .project-student, .projects .list .project-name {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}

.projects .list .project-student a {
    display: inline-block;
    height: 26px;
}

.projects table.table th {
    height: 58px;
    vertical-align: middle;
}

.projects table.table td {
    height: 80px;
    vertical-align: middle;
}

.projects table.table tr.terms th {
    height: 38px;
}

.projects .report-item td a {
    width: 100%;
    height: 100%;
    display: block;
}

.projects .report-item td.has-consultation {
    background: #cff78f !important;
}

.projects .report-item img.smiley {
    margin: 0 auto;
    height: 40px;
    width: 40px;
}

.projects .report-item p.progress {
    height: 16px;
    margin: 6px 0 0;
    line-height: 16px;
    background: transparent;
    text-align: center;
}

.projects .report-item th.actual {
    background: #ffcc66;
}

.projects .report-item td.actual {
    background: #ffff99;
}

.projects td.not-active {
    opacity: 0.7;
}

.projects td.not-active .project-student a, .projects td.not-active .project-name {
    text-decoration: line-through;
}

.image-radio label {
    margin-left: 8px;
}

.image-radio label:first-child {
    margin-left: 0;
}

.image-radio label > input {
    display:none;
}

.image-radio label > input + img {
    padding: 5px;
    cursor: pointer;
}

.image-radio label > input:checked + img {
    background: #add8e6;
}

.content-header .tags-list {
    margin-top: 10px;
}

.content-header .tags-list .label {
    font-size: 90%;
}

.timeline-header {
    line-height: 22px;
}

.timeline-header img.smiley {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.fc-event, .fc-list-item{
    cursor: pointer;
}

.datepicker {
    border-radius: 0;
}

.datagrid table tr.active-row {
    background-color: #eeeeee;
    color: #3c8dbc;
    font-weight: 700;
    font-size: 16px;
}

.datagrid .bootstrap-select.input-sm > .btn {
    background: #ffffff;
    border-color: #d2d6de;
    border-radius: 0;
    color: #555;
}

.datagrid .datagrid-settings {
    display: inline-block;
}